*{
    margin:0;
    padding:0;
}
  

.nav{
    background-color: white;


}
.nav ul li{
    
    float:left;
    list-style-type:none;
    padding: 10px 10px 5px 5px;
    font-size: 30px;
    margin: 10px;
    font-style: bold;
    margin-left: 70px;  
    font-family: Arial, Helvetica, sans-serif;

}
#soyl{
    /* border: 10px solid gray; */
    height: 35px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid gray;
    
}

#abc ul li{
    float:right;
    list-style-type: none;
    font-size: 30px;
   padding: 10px;
   margin: 10px;
   font-style: initial;
}
#aside{
    position: absolute;
    background-color: aqua;
    /* background-image:  */
    top: 80px;
    height: 70%;
    width: 92%;
    margin-left: 50px;
     
      
}
.containt{
    
    position: absolute;
    margin-top: 350px;
    float:left;
    
}
#box{
     
     margin-left: 950px;
}
.para{

   
    margin-left: 800px;
 }
 #button1{
    
    margin-left: 950px;
    font-size: 20px;
    font-style: normal;
    height: 100px;
    width: 200px;
    background-color:rgb(0, 255, 4);
    border: 1px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color:white;
    border-color: rgb(0, 0, 0);
    box-shadow: 1px 2px white;
    

}
#button1:hover{
    background-color: rgb(26, 53, 73);
}

.footer{

    position: absolute;
    margin-top: 630px;
    margin-left: 150px;
}

#food{

    font-size:35px;
    position: absolute;
    margin-left: 70px;
}
#bot{
    color:aqua;
    border: 0;
    background-color: white;


}
.box1{

    background-color: rgb(0, 206, 137);
    position: absolute;
    height: 60px;
    width: 600px;
    margin-top: 670px;
    margin-left: 700px;
}
#box2{
    
    color: white;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    
}
#box4{

    position: absolute;
    color: yellow;
    margin-left: 400px;
    margin-top: 10px;
}


